.team-section {
  margin-bottom: 2rem;
  color: #4a4a4a;
  font-family: sans-serif;
  /* border: 3px solid red; */
}

.container2 {
  max-width: 1300px;
  padding: 24px 16px;
  margin: auto;
}

.text-center2 {
  text-align: center;
}

.mb-20 {
  margin-bottom: 20px;
}

.title2 {
  margin-bottom: 0.5rem;
  font-size: 2rem; /* Default font size */
  font-weight: 500;
  color: #1a202c;
}

.description2 {
  width: 66.666667%;
  margin: auto;
  line-height: 1.5;
  font-size: 1rem; /* Default font size */
}

/* Team grid setup */
.team-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

/* Team member card */
.team-member {
  /* border: 2px solid grey; */
  display: flex;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  width: calc(33.3333% - 16px); /* Adjusted to include gap */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

/* Member info */
.member-info {
  display: flex;
  align-items: center;
  
  padding: 16px;
  border-radius: 8px;
}

/* Member image */
.member-img {
  width: 64px;
  height: 64px;
  background-color: #f7fafc;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 16px;
}

/* Member details */
.member-details {
  flex-grow: 1;
}

.member-name {
  color: #1a202c;
  font-weight: 500;
  font-size: 1rem; /* Default font size */
}

.member-role {
  color: #6b7280;
  font-size: 0.875rem; /* Default font size */
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .description2 {
      width: 80%; /* Adjust width for medium screens */
  }
  .team-member {
    width: calc(50% - 16px); /* Adjust for 2 cards per row */
  }
}

@media (max-width: 768px) {
  .description2 {
      width: 90%; /* Adjust width for smaller screens */
  }
  .team-member {
    width: calc(50% - 16px); /* Adjust for 2 cards per row */
  }
}

@media (max-width: 571px) {
  .title2 {
      font-size: 1.5rem; /* Reduce font size on very small screens */
  }

  .description2 {
      font-size: 0.875rem; /* Adjust font size for readability */
  }

  .team-member {
    width: 45%; /* Full width for each card */
    justify-content: center;
    
  }

  .member-name {
    font-size: 0.875rem; /* Adjust font size */
  }

  .member-role {
    font-size: 0.75rem; /* Adjust font size */
  }
  .member-info{
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .member-img{
    margin-right: 0;
  }
}
